
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import 'global.css';
@import 'main.css';


* {
text-align: center;
padding-top: 3px; 
padding-bottom: 3px;
}

  header {
    background-color: black;
}

.navbar{
 font-family:Verdana, Geneva, Tahoma, sans-serif; 
 padding-right: 15px; 
 padding-left: 15px;
}
   
    li{
    list-style: none; 
    display:inline-block;
    }
    
    li a{
      color: white; font-size:18px; 
      font-weight:lighter;
      margin-right: 25px; 
      margin-left: 25px;
    }

    a:link { 
  text-decoration: none; 
} 

nav {
    height: 50px;
}

nav li a:hover {
    color:darkgray;
}

h1, h2, h3, h4, h5, h6 {
  color: #AFDBF5!important;
  padding: 50px;
}

.navbar {
  background-color:#AFDBF5!important;
  padding: 50px;
}

.nav-link {
  font-size: 20px !important;
  font-weight: bold; 
  color:black !important;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}



.fa-row {
   background-color: var(--dominantColor) !important;
   padding: 35px;
   color: #ffffff
}

.fa-row.icon {
   font-size: 70px;
   color: #ffffff;
}

.fa-row-icon:hover {
   transform: scale(1.1);
}

.first-paragraph-div {
   position: relative;
   background-color: #ffffff;
   color: #000000;
   font-weight: normal;
   font-size: 16px;
   padding: 20px;
   height: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   font-family: "Inter Tight", serif;
   margin-left: auto;
   margin-right: auto;
}



/* Table */
.content-table {
   border-collapse: collapse;
   /*max-width: 1000px; */
   margin: auto;
   text-align: center;
   width:100%;
 }
 
 .content-table th, .content-table td {
   padding: 20px;
 }
 
 .content-table thead tr{
   border-bottom: 1px solid #dddddd;
   background-color: var(--dominantColor) !important;
   color: #ffffff;
 }
 
 .content-table tbody tr {
   border-bottom: 1px solid #dddddd;
   background-color: ffffff;
 }
 
 .content-table tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
 }
 
 .content-table tbody tr:nth-of-type(odd) {
   background-color: #ffffff;
 }
 
 .content-table tbody tr:last-of-type {
   border-bottom: 3px var(--dominantColor) !important;
 }
 
 .content-table tbody tr td:first-of-type {
  background-color: #ffffff;
   text-align: right;
   border-right: 1px solid #dddddd;
 }

 .schedule-section {
  background-color: #f6f8fa;
  padding-top: 30px;
  padding-bottom: 30px;

 }

 @media screen and (max-width:768px) {

  .first-paragraph-img {
    width: 100%;
    display: none;
   }

 }

 .list-section {
  padding-top: 30px;
  padding-bottom: 30px;
 }

.list-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
